.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 15px 20px;
    background: linear-gradient(90deg,#222 0%, #555 33%, #222 66%, #555 100%);
    background-size: 300%;
    color:  #ffffff;

    animation: backgroundGradientShift 5s infinite linear;
}

.navbar ul {
    display: flex;
    gap: 20px;
    list-style: none;
    justify-content: center;
    align-items: end;

    >* {
        transition: font-size 0.4s, font-weight 0.4s;
    }
    >*:hover {
        font-size: 1.5em;
        font-weight: bold;
    }
} 

.activepage {
    font-size: 1.3em;
    font-weight: bold;
}

.navbar a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

#darkModeContainer {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: right;
}

@keyframes backgroundGradientShift {
    from { background-position: 0% 0%; }
    to {background-position: 100% 0%; }
}

#nav_icon{
    display: none;
    gap: 15px;
    align-items: center;
    justify-content: right;
}

@media (max-width: 768px){
    #nav_icon{
        display: flex;
        gap: 15px;
        align-items: center;
        justify-content: right;
    }
    
    #nav_icon span:nth-child(1){
        top: 0%;
    }

    #nav_icon span:nth-child(2), #nav_icon span:nth-child(3){
        top: 18%;
    }

    #nav_icon span:nth-child(4){
        top: 36%;
    }

    #nav_icon.open span:nth-child(1){
        top: 18px;
        width: 0%;
        left: 50%;
    }

    #nav_icon.open span:nth-child(2){
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    #nav_icon.open span:nth-child(3){
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    #nav_icon.open span:nth-child(4) {
        top: 18%;
        width: 0%;
        left: 50%;
    }

    .bar{
        display: flex;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        background-color: #030303;
        transition: all 0.3s ease-in-out;
    }
}