.activepage {
    color: #88c0d0;
    border-bottom: 2px solid #88c0d0;
}

/* HERO */
.hero h2 {
    color: #88c0d0;
}

/* BUTTON */
.like-btn {
    background: transparent;
    border: 1px solid #88c0d0;
    color: #d8dee9;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.like-btn:hover {
    background: #88c0d0;
    color: #2e3440;
}